/* reset CSS */

html, body {
	width:100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
}

/*=====================================================================================
BASE
=======================================================================================*/

body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	color:#fff;
	background:#000 url(../img/darkNoise.png) repeat scroll;
	font-family: Tahoma,Arial,sans-serif;
	font-size:13px;
}

.conteneur, .game, .sectionLeft, .sectionMiddle, .sectionRight {
	height: 100%;
}

.product, .bigCookie, .buyIt p, .icon {
	cursor: pointer;
}

/*=====================================================================================
OVERFLOW
=======================================================================================*/

html, body, .conteneur, .game, .sectionLeft {
	overflow-x: hidden;
	overflow-y: hidden;
}

.sectionMiddle, .sectionRight {
	overflow-x: hidden;
	overflow-y: scroll;
}

/*=====================================================================================
POSITION DIMENSION ET MARGE
=======================================================================================*/

.game {
	padding-bottom: 32px;
}

.topBar {
	height: 32px;
}

.btn {
	height: 48px;
	width: 80px;
}

.blockGrandma, .blockFarm, .blockFactory, .blockMine, .blockShipment, .blockAlchemy, .blockPortal, .blockTime, .blockAntimatter, .blockPrism {
	height: 128px;
}

.separeHoriz {
	height: 16px;
}

 .titleBox  {
 	padding-left: 16px;
 }

.sectionLeft {
	padding-top: 48px;
}

.sectionRight, .sectionMiddle{
	padding-left: 32px;
}

.btnRight {
	position: absolute;
	right: 16px;
}

.crate {
	height: 60px;
	padding: 8px 8px;
}

.icon {
	height: 44px;
}

.product {
	height: 64px;
}

.miniCookie {
	margin-top: -10px;
	padding-left: 20px;
}

.productIcon {
	height: 64px;
}

.buyIt {
	padding-top: 8px;
	padding-bottom: -4px;
}

/*=====================================================================================
BORDURE ET FORMATAGE
=======================================================================================*/

.topBar {
	box-shadow:0px -2px 4px #666 inset;
	color:#ccc;
}

.game {
	font-family: Kavoon, Tahoma,Arial,sans-serif;
}

.storeTitle, .count, .owned {
	text-align: center;
}

.buyIt, .btnLeft, .btnRight {
	box-shadow: 0px 0px 3px #666 inset, 0px 0px 4px #000;
	text-align: center;
}

.storeTitle, .nbCookie, .cookie, .productName, .owned {
	font-size: 30px;
}

.red {
	color: red;
}

.crate {
	border: 0.5px solid black;
}
.owned {
	opacity: 0.3;
	color: #000;
	text-shadow: 0px 0px 8px #FFF;
}

/*=====================================================================================
BACKGROUND
=======================================================================================*/

.topBar {
	background:url(../img/darkNoise.png) repeat scroll;
}

.game {
	background:url(../img/bgBlue.jpg) repeat scroll ;
}

.count {
	background: rgba(0, 0, 0, 0.4) none repeat scroll;
}

.separeHoriz {
	background:url(../img/panelHorizontal.png) repeat-x scroll;
}

.icon, .btnLeft, .btnRight {
	background: url(../img/darkNoise.png) repeat scroll;
}

.blockGrandma {
	background:url(../img/grandmaBackground.png) repeat scroll;
}

.blockFarm {
	background:url(../img/farmBackground.png) repeat scroll;
}

.blockFactory {
	background:url(../img/factoryBackground.png) repeat scroll;
}

.blockMine {
	background:url(../img/mineBackground.png) repeat scroll;
}

.blockShipment {
	background:url(../img/shipmentBackground.png) repeat scroll;
}

.blockAlchemy {
	background:url(../img/alchemylabBackground.png) repeat scroll;
}

.blockPortal {
	background:url(../img/portalBackground.png) repeat scroll;
}

.blockTime {
	background:url(../img/timemachineBackground.png) repeat scroll;
}

.blockAntimatter {
	background:url(../img/antimattercondenserBackground.png) repeat scroll;
}

.blockPrism {
	background:url(../img/prismBackground.png) repeat scroll;
}

.crate {
	background: url(../img/panelHorizontal.png) no-repeat scroll;
	background-size: cover;
}

.product {
	background:url(../img/storeTile.jpg) no-repeat scroll;
	background-size: cover;
	opacity: 0.6;
}

.cursorIconDefault {
	background:url(../img/cursoriconOff.png) no-repeat scroll;
	background-size: cover;
}

.grandmaIconDefault {
	background:url(../img/grandmaIconOff.png) no-repeat scroll;
	background-size: cover;
}

.farmIconDefault {
	background:url(../img/farmIconOff.png) no-repeat scroll;
	background-size: cover;
}

.factoryIconDefault {
	background:url(../img/factoryIconOff.png) no-repeat scroll;
	background-size: cover;
}

.mineIconDefault {
	background:url(../img/mineIconOff.png) no-repeat scroll;
	background-size: cover;
}

.shipmentIconDefault {
	background:url(../img/shipmentIconOff.png) no-repeat scroll;
	background-size: cover;
}

.alchemyIconDefault {
	background:url(../img/alchemylabIconOff.png) no-repeat scroll;
	background-size: cover;
}

.portalIconDefault {
	background:url(../img/portalIconOff.png) no-repeat scroll;
	background-size: cover;
}

.timeIconDefault {
	background:url(../img/timemachineIconOff.png) no-repeat scroll;
	background-size: cover;
}

.antimatterIconDefault {
	background:url(../img/antimattercondenserIconOff.png) no-repeat scroll;
	background-size: cover;
}

.prismIconDefault {
	background:url(../img/prismIconOff.png) no-repeat scroll;
	background-size: cover;
}

.miniCookie {
	background:url(../img/money.png) no-repeat scroll;
}

.buyIt {
	background: #000 url(../img/darkNoise.png) repeat scroll;
}

.sectionMiddle, .sectionRight {
	background:url(../img/panelVertical.png) repeat-y scroll;
}

/*=====================================================================================
CSS POUR JS
=======================================================================================*/

.green {
	color:green;
}

.cursorIconUnlocked {
	background:url(../img/cursoricon.png) no-repeat scroll;
	background-size: cover;
}

.grandmaIconUnlocked {
	background:url(../img/grandmaIcon.png) no-repeat scroll;
	background-size: cover;
}

.farmIconUnlocked {
	background:url(../img/farmIcon.png) no-repeat scroll;
	background-size: cover;
}

.factoryIconUnlocked {
	background:url(../img/factoryIcon.png) no-repeat scroll;
	background-size: cover;
}

.mineIconUnlocked {
	background:url(../img/mineIcon.png) no-repeat scroll;
	background-size: cover;
}

.shipmentIconUnlocked {
	background:url(../img/shipmentIcon.png) no-repeat scroll;
	background-size: cover;
}

.alchemyIconUnlocked {
	background:url(../img/alchemylabIcon.png) no-repeat scroll;
	background-size: cover;
}

.portalIconUnlocked {
	background:url(../img/portalIcon.png) no-repeat scroll;
	background-size: cover;
}

.timeIconUnlocked {
	background:url(../img/timemachineIcon.png) no-repeat scroll;
	background-size: cover;
}

.antimatterIconUnlocked {
	background:url(../img/antimattercondenserIcon.png) no-repeat scroll;
	background-size: cover;
}

.prismIconUnlocked {
	background:url(../img/prismIcon.png) no-repeat scroll;
	background-size: cover;
}
